@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700;800&display=swap');

html {
  text-align: center;
  background-color: hsl(218, 23%, 16%);
}

main {
  font-family: Manrope;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: rgb(206, 226, 233);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 28px;
}

.header {
  color: hsl(150, 100%, 66%);
  letter-spacing: 0.3rem;
  font-size: 14px;
}

.advice-card {
  background-color: hsl(217, 19%, 24%);
  border-radius: 15px;
  padding: 3rem;

  max-width: 444px;
  min-width: 295px;
}

@media screen and (max-width: 400px) {
  .advice-card {
    padding: 3rem 1.5rem;
  }
}

.divider {
  padding: 1.5rem;
  background-image: url('../images/pattern-divider-desktop.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.dice-btn {
  background: hsl(150, 100%, 66%) url('../images/icon-dice.svg');
  background-size: 40%;
  background-position:50% 50%;
  background-repeat:no-repeat; 

  width: 4rem;
  height: 4rem;
  border-radius: 50px;
  z-index: 1;

  position: relative;
  top: -32px;

  cursor: pointer;
}

.dice-btn:hover {
  box-shadow: 0px 0px 3rem hsl(150, 100%, 66%);
  transition: 0.3s;

  animation: spin;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-timing-function: linear;
}

.dice-btn:active {
  background-size: 25%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}
